<% 
  const { user } = locals
  const isMember = user ? user.is_member : false
  const isAdmin = user ? user.is_admin : false
%>

<h1>Odinsider :]</h1>
<h2>Hello, <%= user ? user.username : 'stranger' %>!</h2>

<nav>
  <% if (user) { %>
  <a href="/messages/new">New message</a>
  <% if (!isMember) { %>
  <a href="/membership">Become a member</a>
  <% } %>
  <a href="/logout">Log out</a>
  <% } else { %>
  <a href="/login">Log in</a>
  <a href="/sign-up">Sign up</a>
  <% } %>
</nav>

<table>
  <% users.forEach(user => { %>
  <tr>
    <% Object.values(user).forEach(value => { %>
    <td><%= value %></td>
    <% }) %>
  </tr>
  <% }) %>
</table>

<table>
  <% messages.forEach(message => { %>
  <% 
    let { id, author, date, title, text } = message;
    date = date.toDateString()

    const isAuthor = user && author === user.username
    if (!(isAuthor || isMember)) {
      author = 'anonymous';
      date = '???'; 
    }
  %>

  <tr>
    <% if (isAdmin) { %>
    <td>
      <form method="POST" action="/messages" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value='DELETE'>
        <input type="hidden" name="id" value=<%= id %>>
        <button type="submit">×</button>
      </form>
    </td>
    <% } %>
    <td><%= author %></td>
    <td><%= date %></td>
    <td><%= title %></td>
    <td><%= text %></td>
  </tr>
  <% }) %>
</table>